In [1]:
sports_cars = ["A5", "Leon", "Mustang"]

In [2]:
for car in sports_cars: #the element "car" would take the value of each elements
    print(car)

A5
Leon
Mustang

In [3]:
sports_cars = ["A5", "Leon", "Mustang"]

In [5]:
for coches in sports_cars:
    print(coches)

A5
Leon
Mustang

In [6]:
coches

'Mustang'

In [7]:
lures = ["spinnerbait", "chaterbait", "xrap", "jig"]

In [8]:
for bait in lures:
    print(bait)

spinnerbait
chaterbait
xrap
jig

In [9]:
bait

'jig'

In [13]:
for character in ["p", "h", "a", "n", "t", "o", "m"]:
    print(character)

p
h
a
n
t
o
m

In [15]:
for pecuequeros in ["Juanito", "Diegote", "Makario"]:
    print(pecuequeros, "la estan rompiendo")

Juanito la estan rompiendo
Diegote la estan rompiendo
Makario la estan rompiendo

In [16]:
for pecuequeros in ["Juanito", "Diegote", "Makario"]:
    print(pecuequeros, "la estan rompiendo")

Juanito la estan rompiendo
Diegote la estan rompiendo
Makario la estan rompiendo

In [18]:
num_list = [100,800,302,749,902,362,237]

In [20]:
for num in num_list:
    if num < 500:
        print("less than 500: ", num)
    else:
        print("greater than 500: ", num)

less than 500:  100
greater than 500:  800
less than 500:  302
greater than 500:  749
greater than 500:  902
less than 500:  362
less than 500:  237

In [21]:
r = range(10)

r

range(0, 10)

In [22]:
tuple(r) # the range of numbers only creates a range of the quantity of values specified, for example r=10 will print from 0-9
# here it is converted into a tuple of integers from 0-9 that are equal to 10 elements.

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
list(r) #here we converted "r" into a list of integers from 0-10 so this could be modified

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(2, 10)) #here we create a list starting from 2 to 10 as shown below

[2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(-4, 8))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [26]:
for i in range(6): #we asigned "i" the range of 6 items so when is printed it would go from 0-5 in a loop format
    print(i)

0
1
2
3
4
5

In [27]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [29]:
for i in range(2, 11, 2): #here we tell the code to start from number 2, go as far as 11 elements (considering 0-10 are 11 elements), and go in steps of 2 
    print(i)

2
4
6
8
10

In [30]:
for i in range (2, 11, 3): #start from 2 all the way to 11 elements and in steps of 3
    print(i)

2
5
8

In [31]:
for _ in range(7): #this allows us to print the sentence "python is great" 7 times in a loop format
    print("Python is great")

Python is great
Python is great
Python is great
Python is great
Python is great
Python is great
Python is great

In [32]:
names_ages = {"Eri" : 30,
              "Rudy" : 33,
              "Mg" : 28}

In [33]:
for key in names_ages: #here we tell the code just to print the "key" (wich are the names) in a loop format
    print(key)

Eri
Rudy
Mg

In [37]:
for key in names_ages:
    print("Name: ", key, "Age: ", names_ages[key])

Name:  Eri Age:  30
Name:  Rudy Age:  33
Name:  Mg Age:  28

In [40]:
names_ages.keys() #here is how can you visualize all keys in a specific dictionary

dict_keys(['Eri', 'Rudy', 'Mg'])

In [41]:
for key in names_ages.keys(): 
    print(key)

Eri
Rudy
Mg

In [42]:
names_ages.values() #here we type "values" function in order to print all values of our dictionary

dict_values([30, 33, 28])

In [46]:
for val in names_ages.values(): #here we tell the code to print just the values in the dictionary
    print(val)

30
33
28

In [47]:
names_ages.items() #we told our code to print the items of the dictionary.

dict_items([('Eri', 30), ('Rudy', 33), ('Mg', 28)])

In [48]:
for key, val in names_ages.items():#here we tell the code to print the keys and the values of the dictionary
    print(key, val)

Eri 30
Rudy 33
Mg 28