In [1]:
print("Hello!")

Hello!

In [2]:
len("hello")

5

In [3]:
num_list =[2,4,6,8]

sum(num_list)

20

In [4]:
abs(-10) #this are just examples of defined functions

10

In [5]:
def do_something(): # always in defined funcion you must put "def" and the name of your function next to the parenthesis () and colon : in order to tell the funtion what to do next
    pass          # here is a pass function so it wouldnt do nothing

In [6]:
def greet():
    print("good morning to you!")

In [7]:
greet()

good morning to you!

In [8]:
def say_hello():
    print("Hello there!")

In [9]:
say_hello()

Hello there!

In [10]:
print(some_var) #here we would have and error due because "some_var" is not defined so...

NameError: name 'some_var' is not defined

In [16]:
def causes_error(): #so here there would be no error because the undefined "some_var" is within de function definition so...
    print(some_var)

In [14]:
causes_error() #when we tried to print the function now it would se the error wich is "some_var" not definded

NameError: name 'some_var' is not defined

In [18]:
some_var = "some stuff here" # now we defined the variable "some_var" son the error would be erradicated

In [19]:
causes_error()

some stuff here

In [20]:
def calculate_sum():
    
    print("Sum of 2, 3, 4 is", 2 + 3 + 4) #here we can put a string and aritmetical sum together

In [21]:
calculate_sum()

Sum of 2, 3, 4 is 9

In [32]:
a = 2
b = 3
c = 4

def calculate_sum():
    result = a + b + c
    
    print("Sum of a, b, c is", result)
    
    if result < 10:
        print("The sum is less than 10!")
    else:
        print("the sum is bigger than 10 because is", result)

In [33]:
calculate_sum()

Sum of a, b, c is 9
The sum is less than 10!

In [35]:
a = 1 #we can update the values and it would take the newest in order to re-calculate

In [36]:
calculate_sum()

Sum of a, b, c is 8
The sum is less than 10!

In [37]:
b = 100 #here we change the value of "b"

calculate_sum()

Sum of a, b, c is 105
the sum is bigger than 10 because is 105

In [38]:
def calculate_sum (a, b, c):
    
    result = a + b + c
    
    print("sum of a, b, c is", result)
    
    if result < 10:
        print("the sum is less than 10")
    else:
        print("the sum is greater than 10")

In [40]:
calculate_sum(2) #here we have an error because a, b, c are not assigned to we have to

TypeError: calculate_sum() missing 2 required positional arguments: 'b' and 'c'

In [41]:
calculate_sum(2, 3, 4) #so here we assigned the values and it would correspond to each letter in the same order

sum of a, b, c is 9
the sum is less than 10

In [42]:
calculate_sum(200, 300, 400) #we can always change the values inside the variable

sum of a, b, c is 900
the sum is greater than 10

In [43]:
x = 20
y = 30
z = 40

calculate_sum(x, y, z) #it doesnt matters if you use other letters the function assigned would operate the same

sum of a, b, c is 90
the sum is greater than 10

In [44]:
def raise_to_the_power(num, exponent): #here we can see it is assigned a name to each element "num" and "exponent"
    
    power = num ** exponent #here we have the operation in wich "power" would be the raised power and it is equal to the arytmetic operation
    
    print(power)

In [45]:
raise_to_the_power(4, 2) #here is 4 squared (in the power of 2)

16

In [46]:
raise_to_the_power(3, 3)

27

In [47]:
raise_to_the_power(10) # if we try to just put one number it will show an error due to the logical operation needs the "exponent"

TypeError: raise_to_the_power() missing 1 required positional argument: 'exponent'

In [48]:
result = raise_to_the_power(4, 2) #here we can store the operation in a variable called "result" to type it easier

16

In [51]:
print(result) #result is value "none"

None

In [53]:
type(result) #here we prove is a none

NoneType

In [59]:
def square_and_cube(num):
    square = num ** 2
    cube = num ** 3
    
    return square, cube #we use "return" funtion due because is a tupleinstead of print

In [57]:
squared_and_cube(12)

(144, 1728)

In [60]:
square, cube = square_and_cube (4)

In [61]:
square

16

In [62]:
cube

64

In [69]:
def divisible_by_5(num):
    
    if num % 5 == 0:
        return "this number", num, "is divisible by 5" #we add this condition to the code to return us the condition described if is divisible by 5
    
    elif num % 5 != 0:
        return "This number", num, "is not divisible by 5" #we add this condition to the code to return us the condition described if is not divisible by 5 but we can use also "else" condition
    #it can return any kind of data... lists, tuples, integers

In [71]:
divisible_by_5(63) #here is were we typoe the number that we wan to evaluate

('This number', 63, 'is not divisible by 5')