In [2]:
if 25 < 30 :
    print("25 is less than 30")

25 is less than 30

In [4]:
if 25 > 30:
    print("Really? Is 25 greater than 30?")

In [5]:
if 35 == 25:
    print("35 and 25 are exactly the same value")

In [6]:
if not 35 == 25:
    print("35 and 25 are NOT exactly the same value")

35 and 25 are NOT exactly the same value

In [8]:
num = 225

if num > 0:
    print("the number is greater than zero:", num)

the number is greater than zero: 225

In [9]:
if num:
    print("The number is greater than zero:", num)

The number is greater than zero: 225

In [10]:
if 35 + 165 == 100 + 100:
    print("the sum is correct!")

the sum is correct!

In [11]:
if 55 >= 45:
    print("55 is greater than 45")

55 is greater than 45

In [12]:
salary = 1000
expenses = 770

In [13]:
living_within_means = False

if salary - expenses > 0:
    living_within_means = True

In [15]:
print("Am I living within my means?", living_within_means)

Am I living within my means? True

In [16]:
if 100 > 50 > 10:
    print("100 > 50 > 10")

100 > 50 > 10

In [17]:
if 100 < 50 < 10:
    print("nothing would be printed")

In [19]:
salary = 1000
expenses = 770

living_within_means = salary - expenses > 0 #this would have a "True" result

if living_within_means and expenses > 500: # so, living_within_means and expenses are both true... it would print the condition
    print("Im glad youre saving but perhaps your expenses could be lower?")

Im glad youre saving but perhaps your expenses could be lower?

In [22]:
if 2 <= 5 or 7 >= 8:
    print("In the 'or' expression one of the 2 conditions must be 'True' in order to print this")

In the 'or' expression one of the 2 conditions must be 'True' in order to print this

In [23]:
salary = 1000
expenses = 770

savings = 0

if salary > expenses:
    savings = salary - expenses
    print("Savings for the month: ", savings)

Savings for the month:  230

In [27]:
salary = 1000
expenses = 750

if salary > expenses:
    print("Saving for the month: ", salary - expenses)
else:
    print("Loans to tide you over: ", expenses - salary)

Saving for the month:  250

In [28]:
salary = 1000
expenses = 1100

if salary > expenses:
    print("Saving for the month: ", salary - expenses)
else:
    print("Loans to tide you over: ", expenses - salary)

Loans to tide you over:  100

In [29]:
some_list = [3, 5, 2, 9, -10, 100, 22, 21, -1]

if min(some_list) < 0:
    print("The smallest value in this list is negative")
else:
    print("The smallest value in this list is positive")

The smallest value in this list is negative

In [31]:
salary = 1000
expenses = 770

savings = 0
loans = 0

if salary > expenses:
    savings = salary - expenses
    print("Savings for the month :", savings)
else:
    loans = abs(salary - expenses)
    print("Loans taken: ", loans)
    
print("Savings: ", savings, "Loans: ", loans)

Savings for the month : 230
Savings:  230 Loans:  0

In [34]:
cars = ["honda", "toyota", "nissan", "audi"]
fish = ["bass", "marlin", "mero", "trout"]
animals = ["deer", "bear", "goat"]

In [33]:
if len(cars) < 5:
    print("that is not a very long list of cars")

that is not a very long list of cars

In [39]:
transport = "nissan"

if transport in cars:
    print("this is a brand of cars")
    
if transport in fish:
    print("this is a type of fish")
    
if transport in animals:
    print("this is a kind of animal")

this is a brand of cars

In [44]:
math_score = 100

if math_score < 20:
    print("Im afraid is not a great math score", math_score)
    
elif math_score < 50:
    print("You can do better than this", math_score)
    
elif math_score < 80:
    print("Youre close to the highest level you can get", math_score)
    
elif math_score <= 100:
    print("you did great on math: ", math_score)

you did great on math:  100